<div id="{{ comment.id }}" class="comment-thread-item {% if is_reply %}is-reply{% endif %}">
    <div class="comment-main">
        <div class="comment-avatar {% if is_reply %}reply-avatar{% endif %}">
            {{ comment.user.first_name|first|upper }}{{ comment.user.last_name|first|upper }}
        </div>
        <div class="comment-content-box">
            <div class="comment-meta">
                <span class="comment-author-name">{{ comment.user.first_name }} {{ comment.user.last_name }}</span>
                <span class="comment-timestamp">{{ comment.created_at|timesince }} ago</span>
            </div>
            <p class="comment-text">{{ comment.content }}</p>
            <div class="comment-actions">
                <button class="comment-action-btn reply-btn" onclick="replyToComment({{ comment.id }})"><i class="fas fa-reply"></i> Reply</button>
                <button class="comment-action-btn">👍 Like</button>
            </div>
        </div>
    </div>
   

    {% if comment.replies.all %}
    <div class="replies-container">
        {% for reply in comment.replies.all %}
            {% include "task/comment_item.html" with comment=reply is_reply=True %}
        {% endfor %}
    </div>
    {% endif %}
</div>
